{% extends 'layout.html' %}

{% block content %}
    {% for item in items %}
        <article class="media content-section">
            <div class="media-body">
                <a href="{{ url_for('item', id=item.id) }}">{{ item.name }}</a>
                {% if item.date %}
                    <p>Release Date: {{ item.date.strftime('%Y-%m-%d') }}</p>
                {% else %}
                    <p>No Date Set</p>
                {% endif %}
                <a href="{{ url_for('item_news', name=item.name) }}">News</a>
                <a href="{{ url_for('delete', id=item.id) }}">Delete</a>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
