{% extends 'layout.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <p>{{ item.name }}</p>
            {% if item.date %}
                <p>{{ item.date.strftime('%Y-%m-%d') }}</p>
            {% else %}
                <p>No Date Yet</p>
            {% endif %}
            <a href="{{ url_for('item', name=item.name) }}">News</a>
            <a href="{{ url_for('delete', id=item.id) }}">Delete</a>
            <a href="{{ url_for('edit', id=item.id) }}">Edit</a>
        </div>
    </article>
{% endblock content %}