{% extends 'layout.html' %}

{% block content %}

    <a href="/on_logout">Logout</a>

    <hr>

    <form action="/on_add_item" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="date" name="date">
        <button type="submit">Add</button>
    </form>

    <div class="container">
        {% for item in items %}
            <div class="item">
                <p>{{ item.name }}</p>
                <p>{{ item.date }}</p>
                <a href="/item/{{ item.name }}">News</a>
                <a href="/on_delete/{{ item.id }}">Delete</a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
    
