{% extends 'layout.html' %}

{% block content %}
    
    <!-- Register -->
    <form action="/on_register" method="post">

        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="email">Email</label>
        <input type="email" id="email" name="email">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <label for="confirm_password">Cornfirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password">

        <button type="submit">Sign Up</button>

    </form>

    <!-- Sign in -->
    <form action="/on_login" method="post">

        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <button type="submit">Sign In</button>

    </form>

{% endblock content %}
    